@import 'reset';
@import 'variables';
@import 'base';

header {
	z-index: 1;
	padding: 1.5em 0;
	background-color: $white;
	.menu {
		display: none;
	}
	#main_nav {
		float: right;
		margin: .45em 0;
		a {
			font-size: 1.1em;
			transition: all .3s ease-in-out;
			&:not(:last-child) {
				margin-right: 1.5em;
			}
			&:hover {
				color: $blue;
			}
		}
	}
}

#banner {
	@include background(
		url(../images/banner.png), 
		550px,
		right 10px);
	background-color: $blue;
	color: $white;
	.wrapper {
		@include background(
			url(../images/banner_clouds.png),
			contain,
			center);
	}
	.content {
		width: 570px;
		max-width: 100%;
		padding: 9em 0;
		h1 {
			font-weight: 700;
			font-size: 3em;
			margin: 0 0 .3em 0;
			line-height: 1.3em;
		}
		.subtitle {
			font-weight: 300;
			font-style: italic;
			margin: 0 0 2em 0;
			font-size: 1.5em;
			color: $white;
		}
		#for_free {
			font-size: 1em;
			font-weight: 500;
			margin: 0 0 1.5em 0;
			color: $white;
			span {
				text-transform: uppercase;
				padding: .4em .6em;
				background-color: $orange;
				border-radius: .4em;
			}
		}
		form {
			max-width: 100%;
			input[type="text"] {
				width: 65%;
			}
			input[type="submit"] {
				width: 25%;
			}
		}
	}
}

#clients {
	background-color: $light_grey;
	padding: 2em 0;
	text-align: center;
	img {
		vertical-align: middle;
		width: 15%;
		max-width: 125px;
		&:not(:last-child) {
			margin-right: 5%;
		}
	}
}

#features {
	@include background(
		url(../images/features/macbook.png),
		55%,
		right 225px);
	padding: 6em 0;
	vertical-align: middle;
	h2 {
		margin: 0 0 2em;
	}
	.feature {
		width: 40%;
		max-width: 50%;
		&:not(:last-child) {
			margin-bottom: 2em;
		}
		img {
			vertical-align: middle;
			margin-right: 1em;
		}
		h3 {
			vertical-align: middle;
			display: inline-block;
		}
		p {
			margin: .6em 0 0;
		}
	}
}

#differences {
	@include background(
		url(../images/differences.png),
		80%,
		right 100%);
	background-color: $light_grey;
	padding: 6em 0;
	h2 {
		margin: 0 0 1em;
	}
	.slideshow-container {
		.mySlides {
			width: 55%;
			max-width: 100%;
			display: none;
			img {
				vertical-align: middle;
				margin-right: 1em;
			}
			h3 {
				vertical-align: middle;
				display: inline-block;
				margin: 0;
			}
			p {
				margin: 1.5em 0 2em;
			}
		}
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}
	}
	.dots {
		text-align: center;
		span {
			cursor: pointer;
			border-radius: 50%;
			color: $green;
			font-size: 2em;
			margin: 0 .2em;
			transition: all .2s ease-in-out;
		}
		.active, span:hover {
			color: $blue;
		}
	}
}

#signup {
	padding: 6em 0;
	background-color: $white;
	border-bottom: 1px solid $grey;
	h2 {
		margin: 0 0 .5em;
	}
	p {
		margin: 0 0 1.5em;
		text-align: center;
		font-weight: 300;
		font-style: italic;
		font-size: 1.2em;
	}
	form {
		width: 700px;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
		input[type="text"] {
			@include background(
				url(../images/envelope.png),
				none,
				15px 13px);
			width: 70%;
			border: 1px solid $grey;
			padding-left: 3.6em;
		}
		input[type="submit"] {
			width: 20%;
		}
	}
}

footer {
	background-color: $light_grey;
	padding: 1.5em 0;
	.logo {
		filter: grayscale(100%);
		opacity: .6;
	}
	nav {
		a {
			font-size: 1.1em;
			&:not(:last-child) {
				margin-right: .9em;
			}
		}
		a:nth-of-type(6):before {
			content: '';
			border-left: 1px solid $grey;
		}
		.fa {
			vertical-align: middle;
			font-size: 1.3em;
		}
		.fa-twitter {
			color: #4cbcf6;
			margin-left: .7em;
		}
		.fa-facebook {
			color: #4a6daa;
		}
		.fa-google-plus {
			color: #e74c40;
		}
	}
}

@import 'responsive';